<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Write your Heart</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Raleway:wght@500&family=Rubik:ital,wght@0,300..900;1,300..900&family=Yeseva+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
  <header>
  <div class="name"><p>
    WriteYourHeart
  </p></div>
  <div class="butt"><button class="navi" id="rdHome">Home</button>
    <button class="navi">About us</button></div></header>
<p></p>
  
    <script>
      document.getElementById('rdHome').addEventListener('click',function(){
        window.location.href='/';
      })
    </script>
  <main>
