<%- include("partials/header") %>
<div class="writeSpace">
  <form action="/" method="post">
    <textarea id="writeMain" name="writeMain" placeholder="Write Your Heart Away">
    </textarea>
    <button type="submit">Upload</button>
    
  </form>
</div>
<%- include("partials/footer") %>

